<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:39:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSActivarTorneo()[pri:76, instance:test.Test33CMSTorneos@435cc7f9]">CMSActivarTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e8c64">  <td>19/11/14 14:34:48</td>   <td>-261878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test32CMSAsignaRol.CMSAsignarRolaUsuario()[pri:71, instance:test.Test32CMSAsignaRol@53c6f96d]">CMSAsignarRolaUsuario</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6366cf">  <td>19/11/14 14:15:37</td>   <td>-1412992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test19AsociacionRanking.CMSAsociacionR()[pri:38, instance:test.Test19AsociacionRanking@53d13cd4]">CMSAsociacionR</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:36:25</td>   <td>-164705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSCreaTorneo()[pri:73, instance:test.Test33CMSTorneos@435cc7f9]">CMSCreaTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:40:01</td>   <td>50663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSDesactivarTorneo()[pri:77, instance:test.Test33CMSTorneos@435cc7f9]">CMSDesactivarTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:37:34</td>   <td>-95717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSEditaTorneo()[pri:74, instance:test.Test33CMSTorneos@435cc7f9]">CMSEditaTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:38:11</td>   <td>-59084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSEliminaTorneo()[pri:75, instance:test.Test33CMSTorneos@435cc7f9]">CMSEliminaTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9864d5">  <td>19/11/14 14:42:36</td>   <td>205363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test34CMSMisiones.CMSEliminarMisiones()[pri:80, instance:test.Test34CMSMisiones@4364712f]">CMSEliminarMisiones</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e91b6">  <td>19/11/14 14:24:44</td>   <td>-866686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test26CMSGraceDay.CMSGraceDayCrear()[pri:55, instance:test.Test26CMSGraceDay@44032fde]">CMSGraceDayCrear</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e91b6">  <td>19/11/14 14:24:09</td>   <td>-900738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test26CMSGraceDay.CMSGraceDayTest()[pri:54, instance:test.Test26CMSGraceDay@44032fde]">CMSGraceDayTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="a88477">  <td>19/11/14 14:16:30</td>   <td>-1359995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test20Notificacion.CMSLISTNOT()[pri:39, instance:test.Test20Notificacion@77865933]">CMSLISTNOT</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="91cb64">  <td>19/11/14 14:22:32</td>   <td>-998264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test24CMSDashboard.CMSLoadDashboard()[pri:48, instance:test.Test24CMSDashboard@52ff99cd]">CMSLoadDashboard</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8a8a6a">  <td>19/11/14 14:19:28</td>   <td>-1182552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test22CMSLogInAs.CMSLoginAsTest()[pri:43, instance:test.Test22CMSLogInAs@4d18b73a]">CMSLoginAsTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8f9c8e">  <td>19/11/14 14:25:30</td>   <td>-820416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test27CMSMenu.CMSMENU()[pri:57, instance:test.Test27CMSMenu@7b676112]">CMSMENU</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8f9c8e">  <td>19/11/14 14:26:10</td>   <td>-780056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test27CMSMenu.CMSMENUCREAR()[pri:58, instance:test.Test27CMSMenu@7b676112]">CMSMENUCREAR</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8f9c8e">  <td>19/11/14 14:27:03</td>   <td>-726805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test27CMSMenu.CMSMENUEliminar()[pri:59, instance:test.Test27CMSMenu@7b676112]">CMSMENUEliminar</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="a88477">  <td>19/11/14 14:17:07</td>   <td>-1322742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test20Notificacion.CMSNOTIFICACION()[pri:40, instance:test.Test20Notificacion@77865933]">CMSNOTIFICACION</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="968194">  <td>19/11/14 14:23:18</td>   <td>-952087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test25CMSNoticias.CMSNews()[pri:50, instance:test.Test25CMSNoticias@4c2af006]">CMSNews</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9864d5">  <td>19/11/14 14:41:06</td>   <td>115952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test34CMSMisiones.CMSNuevaMIsion()[pri:78, instance:test.Test34CMSMisiones@4364712f]">CMSNuevaMIsion</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8861aa">  <td>19/11/14 14:20:12</td>   <td>-1138379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test23CMSPayPall.CMSPAYPALLSUSCREAR()[pri:45, instance:test.Test23CMSPayPall@177515d1]">CMSPAYPALLSUSCREAR</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8861aa">  <td>19/11/14 14:21:03</td>   <td>-1087646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test23CMSPayPall.CMSPAYPALLSUSEDITAR()[pri:46, instance:test.Test23CMSPayPall@177515d1]">CMSPAYPALLSUSEDITAR</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8861aa">  <td>19/11/14 14:21:43</td>   <td>-1047503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test23CMSPayPall.CMSPAYPALLSUSELIMINAR()[pri:47, instance:test.Test23CMSPayPall@177515d1]">CMSPAYPALLSUSELIMINAR</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d878e8">  <td>19/11/14 14:43:38</td>   <td>267462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test35CMSPremios.CMSPremiosTest()[pri:81, instance:test.Test35CMSPremios@1b7a52dd]">CMSPremiosTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="acfe88">  <td>19/11/14 14:18:40</td>   <td>-1229834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test21CMSReqUsuario.CMSReqUsuario()[pri:42, instance:test.Test21CMSReqUsuario@480ad82c]">CMSReqUsuario</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="bf7ba4">  <td>19/11/14 14:31:31</td>   <td>-459552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test30CMSRoles.CMSRolesCrear()[pri:67, instance:test.Test30CMSRoles@4e49ce2b]">CMSRolesCrear</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="bf7ba4">  <td>19/11/14 14:32:14</td>   <td>-415832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test30CMSRoles.CMSRolesEditar()[pri:68, instance:test.Test30CMSRoles@4e49ce2b]">CMSRolesEditar</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="bf7ba4">  <td>19/11/14 14:30:57</td>   <td>-493688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test30CMSRoles.CMSRolesTest()[pri:66, instance:test.Test30CMSRoles@4e49ce2b]">CMSRolesTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="a88477">  <td>19/11/14 14:17:41</td>   <td>-1289419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test20Notificacion.CMSSendsNOTIFICACION()[pri:41, instance:test.Test20Notificacion@77865933]">CMSSendsNOTIFICACION</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="f2698e">  <td>19/11/14 14:14:46</td>   <td>-1464407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test18Temporadas.CMSTemporadasTG()[pri:34, instance:test.Test18Temporadas@671c4166]">CMSTemporadasTG</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:35:47</td>   <td>-202916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSTorneo()[pri:72, instance:test.Test33CMSTorneos@435cc7f9]">CMSTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b46e9b">  <td>19/11/14 14:46:04</td>   <td>413910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test36CMSTraducciones.CMSTraduccionesTest()[pri:84, instance:test.Test36CMSTraducciones@7f93dd4e]">CMSTraduccionesTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:47:29</td>   <td>498767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesCrearTest()[pri:86, instance:test.Test37CMSTutoriales@5ad5be4a]">CMSTutorialesCrearTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:48:15</td>   <td>544862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesEditarTest()[pri:87, instance:test.Test37CMSTutoriales@5ad5be4a]">CMSTutorialesEditarTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:49:10</td>   <td>599402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesEliminarTest()[pri:88, instance:test.Test37CMSTutoriales@5ad5be4a]">CMSTutorialesEliminarTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:46:53</td>   <td>463154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test37CMSTutoriales.CMSTutorialesTest()[pri:85, instance:test.Test37CMSTutoriales@5ad5be4a]">CMSTutorialesTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="70bea4">  <td>19/11/14 14:33:46</td>   <td>-324059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test31CMSUsuario.CMSUsuarioEditar()[pri:70, instance:test.Test31CMSUsuario@136965e3]">CMSUsuarioEditar</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="70bea4">  <td>19/11/14 14:33:13</td>   <td>-357675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test31CMSUsuario.CMSUsuarioTest()[pri:69, instance:test.Test31CMSUsuario@136965e3]">CMSUsuarioTest</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9864d5">  <td>19/11/14 14:41:43</td>   <td>153112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test34CMSMisiones.CMScrearMisiones()[pri:78, instance:test.Test34CMSMisiones@4364712f]">CMScrearMisiones</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:28:18</td>   <td>-652450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisos()[pri:62, instance:test.Test29CMSPermisos@5578be42]">CMSpermisos</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:28:51</td>   <td>-619384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisosCrear()[pri:63, instance:test.Test29CMSPermisos@5578be42]">CMSpermisosCrear</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:29:29</td>   <td>-581408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisosEditar()[pri:64, instance:test.Test29CMSPermisos@5578be42]">CMSpermisosEditar</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:30:08</td>   <td>-542541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test29CMSPermisos.CMSpermisosEliminar()[pri:65, instance:test.Test29CMSPermisos@5578be42]">CMSpermisosEliminar</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d8c5b9">  <td>19/11/14 14:12:00</td>   <td>-1630404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test16CSGO.CSGOLOBBY()[pri:28, instance:test.Test16CSGO@18578491]">CSGOLOBBY</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d1f1d4">  <td>19/11/14 13:52:26</td>   <td>-2804540</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01LogIn.CloseChrome()[pri:0, instance:test.Test01LogIn@7601bc96]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="fa7be3">  <td>19/11/14 13:53:18</td>   <td>-2752303</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test02MiPerfil.CloseChrome()[pri:0, instance:test.Test02MiPerfil@48a0c8aa]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="989761">  <td>19/11/14 13:54:24</td>   <td>-2686095</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test03EditarCuenta.CloseChrome()[pri:0, instance:test.Test03EditarCuenta@6192a5d5]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8774a7">  <td>19/11/14 13:55:45</td>   <td>-2605451</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test05EquiposTorneos.CloseChrome()[pri:0, instance:test.Test05EquiposTorneos@3722c145]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="656aa6">  <td>19/11/14 13:56:38</td>   <td>-2552376</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test06GenerarCodigoReferido.CloseChrome()[pri:0, instance:test.Test06GenerarCodigoReferido@4cbc2e3b]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e59f6a">  <td>19/11/14 13:58:12</td>   <td>-2458466</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test07InicioTorneos.CloseChrome()[pri:0, instance:test.Test07InicioTorneos@2975a9e]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d88468">  <td>19/11/14 14:00:39</td>   <td>-2311440</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test08CrearTorneo.CloseChrome()[pri:0, instance:test.Test08CrearTorneo@765ffb14]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e69ad8">  <td>19/11/14 14:01:28</td>   <td>-2262424</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test09ConsultaTorneo.CloseChrome()[pri:0, instance:test.Test09ConsultaTorneo@57562473]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="679798">  <td>19/11/14 14:04:02</td>   <td>-2107753</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test10EditaActivaDesactivaTorneo.CloseChrome()[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@7a360554]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6cf771">  <td>19/11/14 14:05:01</td>   <td>-2048987</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test11AdministrarPartida.CloseChrome()[pri:0, instance:test.Test11AdministrarPartida@424de326]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d778b0">  <td>19/11/14 14:06:11</td>   <td>-1979156</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test12EliminarTorneo.CloseChrome()[pri:0, instance:test.Test12EliminarTorneo@4bc33720]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:07:49</td>   <td>-1881447</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.CloseChrome()[pri:0, instance:test.Test13Equipos@2dd0f797]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:10:54</td>   <td>-1696153</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.CloseChrome()[pri:0, instance:test.Test14Misiones@67064bdc]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="af9ba4">  <td>19/11/14 14:11:48</td>   <td>-1641824</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test15Ranking.CloseChrome()[pri:0, instance:test.Test15Ranking@4a7fd0c9]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d8c5b9">  <td>19/11/14 14:12:35</td>   <td>-1595688</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test16CSGO.CloseChrome()[pri:0, instance:test.Test16CSGO@18578491]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="c19163">  <td>19/11/14 14:14:32</td>   <td>-1478360</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test17Noticias.CloseChrome()[pri:0, instance:test.Test17Noticias@3291b443]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="f2698e">  <td>19/11/14 14:15:25</td>   <td>-1425108</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test18Temporadas.CloseChrome()[pri:0, instance:test.Test18Temporadas@671c4166]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6366cf">  <td>19/11/14 14:16:18</td>   <td>-1371805</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test19AsociacionRanking.CloseChrome()[pri:0, instance:test.Test19AsociacionRanking@53d13cd4]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="a88477">  <td>19/11/14 14:18:28</td>   <td>-1242489</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.CloseChrome()[pri:0, instance:test.Test20Notificacion@77865933]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="acfe88">  <td>19/11/14 14:19:15</td>   <td>-1194917</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test21CMSReqUsuario.CloseChrome()[pri:0, instance:test.Test21CMSReqUsuario@480ad82c]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8a8a6a">  <td>19/11/14 14:20:01</td>   <td>-1149133</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test22CMSLogInAs.CloseChrome()[pri:0, instance:test.Test22CMSLogInAs@4d18b73a]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8861aa">  <td>19/11/14 14:22:20</td>   <td>-1009785</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.CloseChrome()[pri:0, instance:test.Test23CMSPayPall@177515d1]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="91cb64">  <td>19/11/14 14:23:06</td>   <td>-964614</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test24CMSDashboard.CloseChrome()[pri:0, instance:test.Test24CMSDashboard@52ff99cd]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="968194">  <td>19/11/14 14:23:57</td>   <td>-913477</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test25CMSNoticias.CloseChrome()[pri:0, instance:test.Test25CMSNoticias@4c2af006]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e91b6">  <td>19/11/14 14:25:19</td>   <td>-831162</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test26CMSGraceDay.CloseChrome()[pri:0, instance:test.Test26CMSGraceDay@44032fde]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8f9c8e">  <td>19/11/14 14:27:59</td>   <td>-671661</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.CloseChrome()[pri:0, instance:test.Test27CMSMenu@7b676112]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:30:46</td>   <td>-504588</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.CloseChrome()[pri:0, instance:test.Test29CMSPermisos@5578be42]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="bf7ba4">  <td>19/11/14 14:33:01</td>   <td>-369581</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.CloseChrome()[pri:0, instance:test.Test30CMSRoles@4e49ce2b]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="70bea4">  <td>19/11/14 14:34:36</td>   <td>-273720</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test31CMSUsuario.CloseChrome()[pri:0, instance:test.Test31CMSUsuario@136965e3]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e8c64">  <td>19/11/14 14:35:36</td>   <td>-214105</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test32CMSAsignaRol.CloseChrome()[pri:0, instance:test.Test32CMSAsignaRol@53c6f96d]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:40:50</td>   <td>99391</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.CloseChrome()[pri:0, instance:test.Test33CMSTorneos@435cc7f9]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9864d5">  <td>19/11/14 14:43:24</td>   <td>254116</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test34CMSMisiones.CloseChrome()[pri:0, instance:test.Test34CMSMisiones@4364712f]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d878e8">  <td>19/11/14 14:45:51</td>   <td>401222</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test35CMSPremios.CloseChrome()[pri:0, instance:test.Test35CMSPremios@1b7a52dd]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b46e9b">  <td>19/11/14 14:46:41</td>   <td>450625</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test36CMSTraducciones.CloseChrome()[pri:0, instance:test.Test36CMSTraducciones@7f93dd4e]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:49:56</td>   <td>645461</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.CloseChrome()[pri:0, instance:test.Test37CMSTutoriales@5ad5be4a]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b49f91">  <td>19/11/14 14:50:33</td>   <td>682724</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test38CMSLogOut.CloseChrome()[pri:0, instance:test.Test38CMSLogOut@3ad85136]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b67fcb">  <td>19/11/14 14:51:31</td>   <td>740336</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test39CMSIdioma.CloseChrome()[pri:0, instance:test.Test39CMSIdioma@737d100a]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:53:10</td>   <td>840013</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.CloseChrome()[pri:0, instance:test.Test40CMSVistasOffline@12e5da86]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:08:37</td>   <td>-1833408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.Consultamisiones()[pri:23, instance:test.Test14Misiones@67064bdc]">Consultamisiones</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d88468">  <td>19/11/14 13:58:22</td>   <td>-2447772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test08CrearTorneo.CrearTorneoFree()[pri:9, instance:test.Test08CrearTorneo@765ffb14]">CrearTorneoFree</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d88468">  <td>19/11/14 13:59:27</td>   <td>-2383112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test08CrearTorneo.CrearTorneoPremium()[pri:10, instance:test.Test08CrearTorneo@765ffb14]">CrearTorneoPremium</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="989761">  <td>19/11/14 13:53:29</td>   <td>-2741024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test03EditarCuenta.EditarCuenta()[pri:2, instance:test.Test03EditarCuenta@6192a5d5]">EditarCuenta</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:07:41</td>   <td>-1889181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.EliminaEquipo()[pri:21, instance:test.Test13Equipos@2dd0f797]">EliminaEquipo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:10:12</td>   <td>-1738048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.EliminarMisiones()[pri:25, instance:test.Test14Misiones@67064bdc]">EliminarMisiones</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d778b0">  <td>19/11/14 14:05:14</td>   <td>-2036233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test12EliminarTorneo.EliminarTorneo()[pri:16, instance:test.Test12EliminarTorneo@4bc33720]">EliminarTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:07:26</td>   <td>-1904493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.EquipoPorJuego()[pri:19, instance:test.Test13Equipos@2dd0f797]">EquipoPorJuego</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="656aa6">  <td>19/11/14 13:55:57</td>   <td>-2592918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test06GenerarCodigoReferido.GenerarCodigoReferidos()[pri:6, instance:test.Test06GenerarCodigoReferido@4cbc2e3b]">GenerarCodigoReferidos</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d1f1d4">  <td>19/11/14 13:51:47</td>   <td>-2843505</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test01LogIn.IngresoAmbiente()[pri:0, instance:test.Test01LogIn@7601bc96]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="fa7be3">  <td>19/11/14 13:52:26</td>   <td>-2803736</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test02MiPerfil.IngresoAmbiente()[pri:0, instance:test.Test02MiPerfil@48a0c8aa]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="989761">  <td>19/11/14 13:53:19</td>   <td>-2751551</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test03EditarCuenta.IngresoAmbiente()[pri:0, instance:test.Test03EditarCuenta@6192a5d5]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8774a7">  <td>19/11/14 13:54:25</td>   <td>-2685378</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test05EquiposTorneos.IngresoAmbiente()[pri:0, instance:test.Test05EquiposTorneos@3722c145]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="656aa6">  <td>19/11/14 13:55:45</td>   <td>-2604729</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test06GenerarCodigoReferido.IngresoAmbiente()[pri:0, instance:test.Test06GenerarCodigoReferido@4cbc2e3b]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e59f6a">  <td>19/11/14 13:56:39</td>   <td>-2551617</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test07InicioTorneos.IngresoAmbiente()[pri:0, instance:test.Test07InicioTorneos@2975a9e]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d88468">  <td>19/11/14 13:58:12</td>   <td>-2457697</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test08CrearTorneo.IngresoAmbiente()[pri:0, instance:test.Test08CrearTorneo@765ffb14]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e69ad8">  <td>19/11/14 14:00:40</td>   <td>-2310649</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test09ConsultaTorneo.IngresoAmbiente()[pri:0, instance:test.Test09ConsultaTorneo@57562473]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="679798">  <td>19/11/14 14:01:28</td>   <td>-2261731</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test10EditaActivaDesactivaTorneo.IngresoAmbiente()[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@7a360554]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6cf771">  <td>19/11/14 14:04:03</td>   <td>-2106980</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test11AdministrarPartida.IngresoAmbiente()[pri:0, instance:test.Test11AdministrarPartida@424de326]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d778b0">  <td>19/11/14 14:05:02</td>   <td>-2048141</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test12EliminarTorneo.IngresoAmbiente()[pri:0, instance:test.Test12EliminarTorneo@4bc33720]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:06:12</td>   <td>-1978395</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test13Equipos.IngresoAmbiente()[pri:0, instance:test.Test13Equipos@2dd0f797]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:07:50</td>   <td>-1880649</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test14Misiones.IngresoAmbiente()[pri:0, instance:test.Test14Misiones@67064bdc]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="af9ba4">  <td>19/11/14 14:10:55</td>   <td>-1695326</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test15Ranking.IngresoAmbiente()[pri:0, instance:test.Test15Ranking@4a7fd0c9]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d8c5b9">  <td>19/11/14 14:11:49</td>   <td>-1641091</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test16CSGO.IngresoAmbiente()[pri:0, instance:test.Test16CSGO@18578491]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="c19163">  <td>19/11/14 14:12:35</td>   <td>-1594920</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test17Noticias.IngresoAmbiente()[pri:0, instance:test.Test17Noticias@3291b443]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="f2698e">  <td>19/11/14 14:14:33</td>   <td>-1476867</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test18Temporadas.IngresoAmbiente()[pri:0, instance:test.Test18Temporadas@671c4166]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6366cf">  <td>19/11/14 14:15:27</td>   <td>-1423544</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test19AsociacionRanking.IngresoAmbiente()[pri:0, instance:test.Test19AsociacionRanking@53d13cd4]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="a88477">  <td>19/11/14 14:16:19</td>   <td>-1371041</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test20Notificacion.IngresoAmbiente()[pri:0, instance:test.Test20Notificacion@77865933]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="acfe88">  <td>19/11/14 14:18:28</td>   <td>-1241704</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test21CMSReqUsuario.IngresoAmbiente()[pri:0, instance:test.Test21CMSReqUsuario@480ad82c]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8a8a6a">  <td>19/11/14 14:19:16</td>   <td>-1194209</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test22CMSLogInAs.IngresoAmbiente()[pri:0, instance:test.Test22CMSLogInAs@4d18b73a]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8861aa">  <td>19/11/14 14:20:02</td>   <td>-1148405</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test23CMSPayPall.IngresoAmbiente()[pri:0, instance:test.Test23CMSPayPall@177515d1]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="91cb64">  <td>19/11/14 14:22:21</td>   <td>-1009023</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test24CMSDashboard.IngresoAmbiente()[pri:0, instance:test.Test24CMSDashboard@52ff99cd]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="968194">  <td>19/11/14 14:23:06</td>   <td>-963896</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test25CMSNoticias.IngresoAmbiente()[pri:0, instance:test.Test25CMSNoticias@4c2af006]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e91b6">  <td>19/11/14 14:23:57</td>   <td>-912704</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test26CMSGraceDay.IngresoAmbiente()[pri:0, instance:test.Test26CMSGraceDay@44032fde]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8f9c8e">  <td>19/11/14 14:25:20</td>   <td>-830361</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test27CMSMenu.IngresoAmbiente()[pri:0, instance:test.Test27CMSMenu@7b676112]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:27:59</td>   <td>-670866</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test29CMSPermisos.IngresoAmbiente()[pri:0, instance:test.Test29CMSPermisos@5578be42]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="bf7ba4">  <td>19/11/14 14:30:46</td>   <td>-503721</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test30CMSRoles.IngresoAmbiente()[pri:0, instance:test.Test30CMSRoles@4e49ce2b]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="70bea4">  <td>19/11/14 14:33:01</td>   <td>-368753</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test31CMSUsuario.IngresoAmbiente()[pri:0, instance:test.Test31CMSUsuario@136965e3]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e8c64">  <td>19/11/14 14:34:37</td>   <td>-272962</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test32CMSAsignaRol.IngresoAmbiente()[pri:0, instance:test.Test32CMSAsignaRol@53c6f96d]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:35:37</td>   <td>-213352</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test33CMSTorneos.IngresoAmbiente()[pri:0, instance:test.Test33CMSTorneos@435cc7f9]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9864d5">  <td>19/11/14 14:40:51</td>   <td>100701</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test34CMSMisiones.IngresoAmbiente()[pri:0, instance:test.Test34CMSMisiones@4364712f]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d878e8">  <td>19/11/14 14:43:25</td>   <td>255097</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test35CMSPremios.IngresoAmbiente()[pri:0, instance:test.Test35CMSPremios@1b7a52dd]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b46e9b">  <td>19/11/14 14:45:52</td>   <td>402003</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test36CMSTraducciones.IngresoAmbiente()[pri:0, instance:test.Test36CMSTraducciones@7f93dd4e]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:46:42</td>   <td>451630</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test37CMSTutoriales.IngresoAmbiente()[pri:0, instance:test.Test37CMSTutoriales@5ad5be4a]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b49f91">  <td>19/11/14 14:49:56</td>   <td>646253</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test38CMSLogOut.IngresoAmbiente()[pri:0, instance:test.Test38CMSLogOut@3ad85136]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b67fcb">  <td>19/11/14 14:50:34</td>   <td>683436</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test39CMSIdioma.IngresoAmbiente()[pri:0, instance:test.Test39CMSIdioma@737d100a]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:51:31</td>   <td>741155</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test40CMSVistasOffline.IngresoAmbiente()[pri:0, instance:test.Test40CMSVistasOffline@12e5da86]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e59f6a">  <td>19/11/14 13:56:49</td>   <td>-2541098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test07InicioTorneos.Inicio()[pri:7, instance:test.Test07InicioTorneos@2975a9e]">Inicio</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d1f1d4">  <td>19/11/14 13:52:23</td>   <td>-2806900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01LogIn.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test01LogIn@7601bc96]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="fa7be3">  <td>19/11/14 13:53:15</td>   <td>-2755501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test02MiPerfil.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test02MiPerfil@48a0c8aa]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="989761">  <td>19/11/14 13:54:19</td>   <td>-2690840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test03EditarCuenta.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test03EditarCuenta@6192a5d5]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8774a7">  <td>19/11/14 13:55:14</td>   <td>-2636138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test05EquiposTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test05EquiposTorneos@3722c145]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8774a7">  <td>19/11/14 13:55:41</td>   <td>-2609544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test05EquiposTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test05EquiposTorneos@3722c145]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="656aa6">  <td>19/11/14 13:56:36</td>   <td>-2554651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test06GenerarCodigoReferido.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test06GenerarCodigoReferido@4cbc2e3b]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e59f6a">  <td>19/11/14 13:57:23</td>   <td>-2507200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test07InicioTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test07InicioTorneos@2975a9e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e59f6a">  <td>19/11/14 13:58:08</td>   <td>-2462140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test07InicioTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test07InicioTorneos@2975a9e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d88468">  <td>19/11/14 13:59:24</td>   <td>-2386057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test08CrearTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test08CrearTorneo@765ffb14]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d88468">  <td>19/11/14 14:00:34</td>   <td>-2315872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test08CrearTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test08CrearTorneo@765ffb14]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e69ad8">  <td>19/11/14 14:01:25</td>   <td>-2265444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test09ConsultaTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test09ConsultaTorneo@57562473]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="679798">  <td>19/11/14 14:02:26</td>   <td>-2204270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test10EditaActivaDesactivaTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@7a360554]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="679798">  <td>19/11/14 14:03:12</td>   <td>-2158616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test10EditaActivaDesactivaTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@7a360554]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="679798">  <td>19/11/14 14:04:00</td>   <td>-2110010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test10EditaActivaDesactivaTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test10EditaActivaDesactivaTorneo@7a360554]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6cf771">  <td>19/11/14 14:04:58</td>   <td>-2051940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test11AdministrarPartida.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test11AdministrarPartida@424de326]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d778b0">  <td>19/11/14 14:06:08</td>   <td>-1982646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test12EliminarTorneo.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test12EliminarTorneo@4bc33720]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:06:54</td>   <td>-1936275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@2dd0f797]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:07:21</td>   <td>-1909110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@2dd0f797]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:07:28</td>   <td>-1901900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@2dd0f797]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:07:35</td>   <td>-1894717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@2dd0f797]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:07:44</td>   <td>-1886617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test13Equipos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test13Equipos@2dd0f797]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:08:33</td>   <td>-1836840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@67064bdc]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:09:18</td>   <td>-1791841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@67064bdc]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:10:08</td>   <td>-1741885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@67064bdc]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:10:49</td>   <td>-1701237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test14Misiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test14Misiones@67064bdc]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="af9ba4">  <td>19/11/14 14:11:45</td>   <td>-1644850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test15Ranking.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test15Ranking@4a7fd0c9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d8c5b9">  <td>19/11/14 14:12:32</td>   <td>-1598196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test16CSGO.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test16CSGO@18578491]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="c19163">  <td>19/11/14 14:13:16</td>   <td>-1554577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test17Noticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test17Noticias@3291b443]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="c19163">  <td>19/11/14 14:13:49</td>   <td>-1521678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test17Noticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test17Noticias@3291b443]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="c19163">  <td>19/11/14 14:14:29</td>   <td>-1481241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test17Noticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test17Noticias@3291b443]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="f2698e">  <td>19/11/14 14:15:20</td>   <td>-1430549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test18Temporadas.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test18Temporadas@671c4166]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6366cf">  <td>19/11/14 14:16:12</td>   <td>-1378041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test19AsociacionRanking.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test19AsociacionRanking@53d13cd4]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="a88477">  <td>19/11/14 14:17:05</td>   <td>-1325402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test20Notificacion@77865933]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="a88477">  <td>19/11/14 14:17:38</td>   <td>-1292663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test20Notificacion@77865933]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="a88477">  <td>19/11/14 14:18:23</td>   <td>-1247576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test20Notificacion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test20Notificacion@77865933]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="acfe88">  <td>19/11/14 14:19:12</td>   <td>-1198287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test21CMSReqUsuario.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test21CMSReqUsuario@480ad82c]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8a8a6a">  <td>19/11/14 14:19:59</td>   <td>-1151542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test22CMSLogInAs.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test22CMSLogInAs@4d18b73a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8861aa">  <td>19/11/14 14:20:49</td>   <td>-1100954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test23CMSPayPall@177515d1]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8861aa">  <td>19/11/14 14:21:39</td>   <td>-1051306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test23CMSPayPall@177515d1]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8861aa">  <td>19/11/14 14:22:17</td>   <td>-1012770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test23CMSPayPall.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test23CMSPayPall@177515d1]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="91cb64">  <td>19/11/14 14:23:03</td>   <td>-967093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test24CMSDashboard.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test24CMSDashboard@52ff99cd]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="968194">  <td>19/11/14 14:23:54</td>   <td>-916353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test25CMSNoticias.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test25CMSNoticias@4c2af006]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e91b6">  <td>19/11/14 14:24:41</td>   <td>-869430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test26CMSGraceDay.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test26CMSGraceDay@44032fde]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e91b6">  <td>19/11/14 14:25:16</td>   <td>-834580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test26CMSGraceDay.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test26CMSGraceDay@44032fde]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8f9c8e">  <td>19/11/14 14:26:07</td>   <td>-783095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test27CMSMenu@7b676112]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8f9c8e">  <td>19/11/14 14:26:59</td>   <td>-731153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test27CMSMenu@7b676112]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8f9c8e">  <td>19/11/14 14:27:55</td>   <td>-675253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test27CMSMenu.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test27CMSMenu@7b676112]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:28:48</td>   <td>-621795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@5578be42]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:29:26</td>   <td>-584081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@5578be42]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:30:04</td>   <td>-546388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@5578be42]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6d7290">  <td>19/11/14 14:30:43</td>   <td>-507390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test29CMSPermisos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test29CMSPermisos@5578be42]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="bf7ba4">  <td>19/11/14 14:31:28</td>   <td>-461867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test30CMSRoles@4e49ce2b]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="bf7ba4">  <td>19/11/14 14:32:11</td>   <td>-419434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test30CMSRoles@4e49ce2b]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="bf7ba4">  <td>19/11/14 14:32:58</td>   <td>-372500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test30CMSRoles.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test30CMSRoles@4e49ce2b]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="70bea4">  <td>19/11/14 14:33:43</td>   <td>-327128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test31CMSUsuario.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test31CMSUsuario@136965e3]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="70bea4">  <td>19/11/14 14:34:33</td>   <td>-276852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test31CMSUsuario.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test31CMSUsuario@136965e3]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e8c64">  <td>19/11/14 14:35:33</td>   <td>-216784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test32CMSAsignaRol.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test32CMSAsignaRol@53c6f96d]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:36:23</td>   <td>-166885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@435cc7f9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:37:31</td>   <td>-99075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@435cc7f9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:38:08</td>   <td>-62134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@435cc7f9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:39:07</td>   <td>-2821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@435cc7f9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:39:57</td>   <td>47043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@435cc7f9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="7e92c9">  <td>19/11/14 14:40:47</td>   <td>97115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@435cc7f9]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9864d5">  <td>19/11/14 14:41:40</td>   <td>149622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test34CMSMisiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test34CMSMisiones@4364712f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9864d5">  <td>19/11/14 14:42:32</td>   <td>201715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test34CMSMisiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test34CMSMisiones@4364712f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9864d5">  <td>19/11/14 14:43:17</td>   <td>247071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test34CMSMisiones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test34CMSMisiones@4364712f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d878e8">  <td>19/11/14 14:45:32</td>   <td>381601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test35CMSPremios.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test35CMSPremios@1b7a52dd]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b46e9b">  <td>19/11/14 14:46:37</td>   <td>447173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test36CMSTraducciones.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test36CMSTraducciones@7f93dd4e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:47:26</td>   <td>495857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@5ad5be4a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:48:12</td>   <td>541961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@5ad5be4a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:49:05</td>   <td>595226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@5ad5be4a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b1f57e">  <td>19/11/14 14:49:53</td>   <td>642862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test37CMSTutoriales.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test37CMSTutoriales@5ad5be4a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b49f91">  <td>19/11/14 14:50:29</td>   <td>679114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test38CMSLogOut.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test38CMSLogOut@3ad85136]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b67fcb">  <td>19/11/14 14:51:28</td>   <td>737896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test39CMSIdioma.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test39CMSIdioma@737d100a]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:52:04</td>   <td>773998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test40CMSVistasOffline@12e5da86]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:52:24</td>   <td>793995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test40CMSVistasOffline@12e5da86]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:52:48</td>   <td>817519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test40CMSVistasOffline@12e5da86]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:53:07</td>   <td>836387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test40CMSVistasOffline.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test40CMSVistasOffline@12e5da86]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="d1f1d4">  <td>19/11/14 13:51:59</td>   <td>-2831135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01LogIn.LogIn()[pri:0, instance:test.Test01LogIn@7601bc96]">LogIn</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b49f91">  <td>19/11/14 14:50:06</td>   <td>656126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test38CMSLogOut.LogOut()[pri:89, instance:test.Test38CMSLogOut@3ad85136]">LogOut</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="fa7be3">  <td>19/11/14 13:52:38</td>   <td>-2792270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test02MiPerfil.MiPerfil()[pri:1, instance:test.Test02MiPerfil@48a0c8aa]">MiPerfil</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8774a7">  <td>19/11/14 13:54:37</td>   <td>-2673209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test05EquiposTorneos.MisEquipos()[pri:4, instance:test.Test05EquiposTorneos@3722c145]">MisEquipos</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="8774a7">  <td>19/11/14 13:55:17</td>   <td>-2633011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test05EquiposTorneos.MisTorneos()[pri:5, instance:test.Test05EquiposTorneos@3722c145]">MisTorneos</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:52:51</td>   <td>820524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test40CMSVistasOffline.NoticiasRanking()[pri:94, instance:test.Test40CMSVistasOffline@12e5da86]">NoticiasRanking</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:52:08</td>   <td>777521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test40CMSVistasOffline.OfflineChallenges()[pri:92, instance:test.Test40CMSVistasOffline@12e5da86]">OfflineChallenges</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:52:27</td>   <td>796454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test40CMSVistasOffline.OfflineRanking()[pri:93, instance:test.Test40CMSVistasOffline@12e5da86]">OfflineRanking</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="9f74d0">  <td>19/11/14 14:51:41</td>   <td>750469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test40CMSVistasOffline.OfflineTournaments()[pri:91, instance:test.Test40CMSVistasOffline@12e5da86]">OfflineTournaments</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e59f6a">  <td>19/11/14 13:57:26</td>   <td>-2504308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test07InicioTorneos.Torneos()[pri:8, instance:test.Test07InicioTorneos@2975a9e]">Torneos</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:07:33</td>   <td>-1897315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.UnirmeEquipo()[pri:20, instance:test.Test13Equipos@2dd0f797]">UnirmeEquipo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="679798">  <td>19/11/14 14:02:29</td>   <td>-2201416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test10EditaActivaDesactivaTorneo.activarTorneo()[pri:13, instance:test.Test10EditaActivaDesactivaTorneo@7a360554]">activarTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="6cf771">  <td>19/11/14 14:04:17</td>   <td>-2093568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test11AdministrarPartida.administrarPartida()[pri:15, instance:test.Test11AdministrarPartida@424de326]">administrarPartida</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="e69ad8">  <td>19/11/14 14:00:50</td>   <td>-2300342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test09ConsultaTorneo.consultaTorneo()[pri:11, instance:test.Test09ConsultaTorneo@57562473]">consultaTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:06:57</td>   <td>-1933208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.crearEquipo()[pri:18, instance:test.Test13Equipos@2dd0f797]">crearEquipo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:09:22</td>   <td>-1788611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.crearMisiones()[pri:24, instance:test.Test14Misiones@67064bdc]">crearMisiones</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="679798">  <td>19/11/14 14:03:15</td>   <td>-2154904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test10EditaActivaDesactivaTorneo.desactivarTorneo()[pri:14, instance:test.Test10EditaActivaDesactivaTorneo@7a360554]">desactivarTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="679798">  <td>19/11/14 14:01:38</td>   <td>-2251807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test10EditaActivaDesactivaTorneo.editarTorneo()[pri:12, instance:test.Test10EditaActivaDesactivaTorneo@7a360554]">editarTorneo</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="b67fcb">  <td>19/11/14 14:50:46</td>   <td>695554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test39CMSIdioma.idioma()[pri:90, instance:test.Test39CMSIdioma@737d100a]">idioma</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="859fba">  <td>19/11/14 14:08:01</td>   <td>-1868907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test14Misiones.misiones()[pri:22, instance:test.Test14Misiones@67064bdc]">misiones</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="c19163">  <td>19/11/14 14:12:46</td>   <td>-1584644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test17Noticias.noticias()[pri:31, instance:test.Test17Noticias@3291b443]">noticias</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="c19163">  <td>19/11/14 14:13:19</td>   <td>-1551251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test17Noticias.noticiaspopulares()[pri:32, instance:test.Test17Noticias@3291b443]">noticiaspopulares</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="c19163">  <td>19/11/14 14:13:53</td>   <td>-1517385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test17Noticias.noticiasrecientes()[pri:33, instance:test.Test17Noticias@3291b443]">noticiasrecientes</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="af9ba4">  <td>19/11/14 14:11:08</td>   <td>-1682214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test15Ranking.rankingTG()[pri:26, instance:test.Test15Ranking@4a7fd0c9]">rankingTG</td> 
  <td>main@1732902480</td>   <td></td> </tr>
<tr bgcolor="ed69e8">  <td>19/11/14 14:06:22</td>   <td>-1967862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test13Equipos.seccionEquipos()[pri:17, instance:test.Test13Equipos@2dd0f797]">seccionEquipos</td> 
  <td>main@1732902480</td>   <td></td> </tr>
</table>
